PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/solevault?retryWrites=true&w=majority
NODE_ENV=development

# RapidAPI Sneaker Database
RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST=the-sneaker-database.p.rapidapi.com

# Oracle Sync Settings
ORACLE_CRON_SCHEDULE="0 0 * * *"
ORACLE_ENABLED=false
